h3
{
	color: #0388a6;
}

acronym
{
	text-decoration:underline;
}

/* copy-pasta pour aligner dt et dd
http://stackoverflow.com/questions/1713048/how-to-style-dt-and-dd-so-they-are-on-the-same-line
*/
dl{margin-top:0;margin-bottom:20px} 
dt,dd{line-height:1.428571429} 
dt{font-weight:700} 
dd{margin-left:0} 
.dl-horizontal dt{float:left;width:160px;clear:left;text-align:right;overflow:hidden;text-overf‌​low:ellipsis;white-space:nowrap} 
.dl-horizontal dd{margin-left:180px}

img
{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

img.reset
{
	margin: 0;
}

dt
{
	font-weight:normal;
}

dd
{
	margin-bottom: 1em;
	color: black;
}

div.code-block
{
	border: 1px dashed #C0C0C0;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color:#F2F2F0;
}

div.code-block-header
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	border-bottom: 1px dashed #C0C0C0;
}

div.code-block-content
{
	padding: 10px;
	display: block;
}

/* Là, l'utilisation d'un préprocesseur tel que LESS serait utile. */
div.warning-block
{
	border: 1px dashed #CC0000;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color:#FCE7E6;
}

div.warning-block-header
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	border-bottom: 1px dashed #CC0000;
}

div.warning-block-content
{
	padding: 10px;
	display: block;
}


div.note-block
{
	border: 1px dashed #0066E5;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color:#EDF4FF;
	
}

div.note-block-header
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	border-bottom: 1px dashed #0066E5;
}

div.note-block-content
{
	padding: 10px;
	display: block;
}


.forme{
	color: #E82C0C;
}
.lemme{
	color: darkblue;
}
.cat{
	color: darkgreen;
}
